<h1>Sign Up</h1>

<form action="<%= users_url %>" method="post" accept-charset="utf-8">
  <input
    type="hidden",
    name="authenticity_token",
    value="<%= form_authenticity_token %>">

    <label>
      Email
      <input type="text" name="user[email]" value="<%= @user.email %>">
    </label>

    <label>
      Password
      <input type="password" name="user[password]">
    </label>
    
    <h2>Make Your First Post!</h2>
    
      <label>Title:
        <input type="text" name="post[title]"
               value="<%= @post.title %>">
      </label>
      <br>

      <p>
      <label>Body:<br>
        <textarea name="post[body]"><%= @post.body %></textarea>
      </label>
      </p>

      <label>Links:</label><br>
      <% @post.links.each_with_index do |link, idx| %>
        <label>
          Link URL <%= idx + 1 %>
          <input type="text" name="links[<%= idx %>][url]">
        </label><br>
      <% end %>

  <p><input type="submit" value="Sign Up"></p>
</form>